.daohang{position:fixed;left:0;top:0;overflow:auto;width: 100%; height: 35px; background-color: #35404d;}

.daohang ul{ padding: 0px; margin: 2px 0 0 5px;list-style-type: none; }
.daohang li{ float: left; margin-right: 5px;}




.daohang .am-btn-xs{ padding: 0px 3px 0px 6px; line-height: 22px; font-size: 12px; margin: 0px;}
.daohang .am-close{ height: 14px; overflow: hidden; line-height: 14px; opacity: 0.3; color: #aaaaaa;}
.daohang .am-close:hover{ opacity: 1;}

.daohang .am-btn-default{ color:#a2abb6;background-color:#415164;border-color:#415164 }
.daohang .am-btn-default a{ color: #fff; }
.daohang .am-btn-default:hover,.daohang .am-btn-default:focus,.daohang .am-btn-default:active,.daohang .am-btn-default .am-active, .daohang .am-active .daohang .am-btn-default .am-dropdown-toggle{color:#fff;background-color:#ff6c60;border-color:#ff6c60;}

.admin-biaogelist{position: fixed; top:0;background-color: #35404d;   width:100%;z-index: 10;}

.listbiaoti{width:100%;margin: 0  auto; padding-bottom:10px;height: 45px;clear: both;border-bottom: solid 1px #eff2f7; background-color: #35404d; border-top-left-radius: 4px; border-top-right-radius: 4px;}
.listbiaoti ul{margin-top: 10px;float: left;font-size: 16px; font-weight:bold;color: #8c8989;padding-left: 1em}
.listbiaoti dl{float: left;margin: 9px 18px 0 15px; font-size: 12px; line-height: 26px; color: #7b7b7b;}
.listbiaoti dl a{color: #f8675e;}
.listbiaoti dl .am-btn{padding: .3em 1em}
