#course-content{
	width: 100%;
	height: 100%;
	float: none;
	padding:20px 0;
	background: #f1f2f7;
}
#course-content > div{
	width: 98%;
	height: 100%;
	margin:0 auto;
}
#course-content #manage form{
	width: 90%;
	height: 5%;
	float: left;
}
#course-content #manage form input{
	width: 30%;
	float: left;
	margin-right: 1em;
}
#course-content #manage thead tr th{
	text-align: center;
}

#course-content #manage table tbody td{
	text-align: center;
	font-size: 14px;
	height:20px;
}
.page{
	width: 30%;
	float: right;
}
.page input{
	width: 20%;
	float: left;
	margin-right: 0.3em;
}
.page ul{
	width: 75%;
	float: right;
}