<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>直播</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/broadcast.css">

<script type="text/javascript">
   function rec(){
    
    var mychar="删除成功";
    alert(mychar); 
}
</script>
</head>
<body>
<div class="inquiry">
<form role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="请输入ID">
        <button type="submit" class="btn btn-default">查询</button>
      </div>    
</form>
<a href="stu-form.html"><button type="submit" class="btn btn-default">添加</a></button>
</div>
<table class="table table-bordered table-hover table-condensed">
   <thead>
     <tr>
     <th>选择</th>
     <th>ID</th>
     <th>姓名</th>
   <th>操作</th>
     </tr>
     </thead>
     <tbody>
       <tr class="active">
       <td> <input type="checkbox" value=""> </td>
       <td>001</td>
       <td><a href="broadcast-content.html">王明</a></td>
       <td>
       <input  type="button" class="btn btn-default" onClick="rec()" value="删除" >
       </td>
       </tr>
     </tbody>

     <tbody>
       <tr class="active">
       <td> <input type="checkbox" value=""> </td>
       <td>002</td>
       <td>王明慧</td>
       <td>
       
       <input  type="button" class="btn btn-default" onClick="rec()" value="删除" >
       </td>
       </tr>
     </tbody>
     </table>

<script src="./js/jquery.js"></script>
<script src="./js/bootstrap.min.js"></script>

</body>
</html>