<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>视频播放统计</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/user-content.css">
        <link rel="icon" type="image/png" href="../css/i/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="../css/i/app-icon72x72@2x.png">
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <link rel="stylesheet" href="../css/amazeui.min.css"/>
        <link rel="stylesheet" href="../css/admin.css"/>
        <link rel="stylesheet" href="../css/videoStatic.css"/>
        <script src="../js/jquery.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-users">
                    视频管理
                </ul>
                <dl class="am-icon-home" style="float: right;">
                    当前位置： 首页 > <a href="../templates/videoStatic.html">视频播放统计</a>
                </dl>
            </div>
        </div>
        <div class="img">
            <img src="../config/videoStatistics.php" alt="" />
            <img src="../config/bar.php" alt="" />
        </div>
        
    </body>
</html>